.wrapper {
  padding: 6px 8px;
  min-height: 36px;
  min-width: 100px;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: var(--white);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    pointer-events: none;
    cursor: none;
    opacity: 0.5;
  }
}
.icon + .title,
.title + .icon {
  margin-left: 8px;
}
// Button box
.primary {
  background-color: var(--primary);
  color: var(--white);
  padding: 9px 16px;

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      rgb(254, 44, 85);
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.no-color {
  color: var(--black);
  border: 1px solid rgba(22, 24, 35, 0.9);
  &:hover {
    background-color: rgba(22, 24, 35, 0.06);
    border-color: rgba(22, 24, 35, 0.12);
  }
  &.span {
    margin-bottom: 4px;
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);
  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}
//Button size
.small {
  min-width: 88px;
  padding: 4px 16px;
}
.medium {
  min-width: 110px;
  padding: 0px 16px;
}
.large {
  min-width: 200px;
  min-height: 42px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}
