.wrapper {
  position: absolute;
  max-height: min(-156px + 100vh, 734px);
  min-height: 100px;
  width: 100%;
  padding-top: 8px;
  margin-top: 8px;
  margin-bottom: 14px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
