.wrapper {
  max-height: min(-156px + 100vh, 734px);
  min-height: 100px;
  width: 100%;
  padding-top: 4px;
  margin-top: 4px;
  margin-bottom: 14px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9999;
}
